.forest {
  @media (max-width: $mobile-width) {
    img {
      width: 280px;
      height: 280px;
    }
  }

  @media (min-width: $tablet-width) {
    .photos__media {
      height: 267px;

      img {
        width: 324px;
        height: 267px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    .photos__media img {
      width: 400px;
    }
  }
}
