.form {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;

    .form__wrapper {
      margin: 0 auto;
      max-width: 648px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;

    .form__wrapper {
      margin: 0 auto;
      max-width: 960px;
    }
  }
}


.form__header {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 54.5px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-width) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 480px 480px;
  }
}

.form__item {
  @media (max-width: $mobile-width) {
    padding-top: 20px;
    border-top: 1px solid var(--border-gray);
  }
}

.form__item fieldset {
  border: none;
  min-width: 0;
  padding: 0;
  position: relative;
}

.form__description {
  font-size: 14px;
  color: var(--basic-gray);
  text-transform: uppercase;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: 164px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 319px;
  }
}
