.form {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;

    .wrapper {
      margin: 0 auto;
      max-width: 648px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;

    .wrapper {
      margin: 0 auto;
      max-width: 960px;
    }
  }
}


.form__header {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 54.5px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 480px 480px;
  }
}

.form__list__item fieldset {
  border: none;
  min-width: 0;
  padding: 0;
}

.form__impression__list,
.form__contact__list,
.form__contact-info__list,
.form__places__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__impression {
  order: -1;
  padding-bottom: 31px;
}

.form__impression__item {
  margin-bottom: 43px;
  position: relative;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.form__impression__header {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72.5px;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.impression-radio {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  top: -10px;
  left: 0;
  background-image: url("../../img/radio-off.svg");
  background-repeat: no-repeat;
}

.form__impression__input:checked + span {
  background-image: url("../../img/radio-on.svg");
}

.form__contact__item {
  display: flex;
  margin-bottom: 21px;
}

.form__contact-info {
  padding-top: 20px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    grid-column: 1/span 2;
    padding-bottom: 51px;
  }
}

.form__places {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    grid-column: 1/span 2;
    padding-top: 0;
    padding-bottom: 75px;
  }
}

.form__places__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 460px;
    margin: 0 auto;
    column-gap: 44px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form__places__header {
  margin-bottom: 36px;

  @media (max-width: $mobile-width) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 58.5px;
  }
}

.form__places__item {
  margin-bottom: 54px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 30px;
  }
}

.places__checkbox {
  width: 46px;
  height: 46px;
  position: absolute;
  background-color: var(--background-photo);
  left: 0;
  top: -7px;
  border-radius: 5px;
}

.form__emotions {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1/span 2;
    padding-top: 0;
  }
}

.form__emotions__input {
  width: 100%;
  height: 160px;
  font-size: 18px;
  background-color: var(--background-photo);
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 700;
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.form__places__input:checked + span {
  background-image: url("../../img/tick.svg.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

.form__impression__input__header {
  font-weight: 700;
  font-size: 18px;
  padding-left: 78px;
}

.form__contact {
  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }
}

.form__contact__header {
  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.form__contact__input__header {
  font-size: 14px;
  color: var(--basic-gray);
  text-transform: uppercase;
  margin-right: 14px;
  padding-top: 20px;
}

.form__contact__input {
  border: 0;
  background-color: var(--background-photo);
  height: 58px;
  width: 100%;
  color: var(--basic-black);
}

.form__contact-info__list {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.form__contact-info__header {
  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}


.form__contact-info__item {
  @media (min-width: $desktop-width) {
    display: flex;
    // justify-content: space-between;
  }
}

.form__contact-info__item:first-child {
  margin-bottom: 14px;

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 79px;

    span {
      display: none;
    }
  }
}

.form__contact-info__item__header {
  font-size: 14px;
  color: var(--basic-gray);
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    margin-right: 18px;
  }
}

.form__contact-info__item--phone,
.form__contact-info__item--mail {
  position: relative;

  svg {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 0;
    right: -3px;
    background-color: var(--input-gray);
    padding: 20px 19px;
  }
}

.form__contact-info__input {
  border: 0;
  width: 100%;
  height: 58px;
  background-color: var(--background-photo);

  @media (min-width: $desktop-width) {
    width: 311px;
  }
}

.form__places__input__header {
  font-size: 18px;
  font-weight: 700;
  margin-left: 79px;
}

.form__description {
  font-size: 14px;
  color: var(--basic-gray);
  text-transform: uppercase;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: 164px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 319px;
  }
}

.form__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding-top: 18.5px;
    padding-bottom: 13.5px;
    padding-left: 49px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}
