.form-intro {
  text-transform: uppercase;
}

.form-intro__header {
  font-size: 30px;
  font-weight: 700;
}

.form-intro__description {
  line-height: 24px;
  color: var(--basic-gray);
  font-size: 14px;
}
