.header__logo {
  width: 102px;
  height: 84px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -85px;
  right: 0;
  text-align: center;
  z-index: 2;

  .logo-cloud,
  .logo-blue {
    display: none;
  }

  @media (min-width: $desktop-width) {
    .logo-blue {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    .logo-cloud {
      display: block;
    }

    img {
      width: 187px;
      height: 97px;
    }
  }
}

@media (max-width: $mobile-width) {
  .main-nav--opened .header__logo {
    display: none;
  }
}
