.hotel {
  text-transform: uppercase;
  padding: 30px 20px;
  padding-bottom: 49px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 57px;

    .hotel__wrapper {
      width: 458px;
      height: 202px;
      margin: 0 auto;
    }
  }

  @media (min-width: $desktop-width) {
    .hotel__wrapper {
      margin: 0 auto;
      height: 204px;
    }
  }
}


.hotel__header {
  font-size: 21px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.hotel__description {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-gray);
  margin-bottom: 46px;

  @media (max-width: $mobile-width) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.hotel__find {
  @media (max-width: $mobile-width) {
    padding: 14px 47px 18px;
  }
}
