.main-intro--form {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 114px;
  }
}

.main-intro__img {
  background-image: url("../../img/back-desktop.jpg");
  height: 389px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    height: 518px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 32px;
    background-image: url("../../img/back-mobile.jpg");
    background-position: center 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-mobile@2x.jpg");
      background-size: 1201px auto;
    }
  }
}

.main-intro__img--catalog,
.main-intro__img--form {
  background-image: url("../../img/catalog-back.jpg");
  height: 158px;
  background-position-y: -50px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/catalog-back@2x.jpg");
    background-size: 1201px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/catalog-desktop.jpg");
    height: 290px;
    background-position-y: -180px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog-desktop@2x.png");
      background-size: 1200px auto;
    }
  }
}
