.main-nav {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  min-height: 56px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  line-height: 40px;

  @media (min-width: $tablet-width) {
    background-color: var(--basic-white);
    color: var(--basic-black);
    font-size: 14px;
    line-height: 26px;
  }
}

.main-nav__logo {
  width: 102px;
  height: 84px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -85px;
  right: 0;
  text-align: center;
  z-index: 2;

  .main-nav__logo-cloud,
  .main-nav__logo-blue {
    display: none;
  }

  @media (min-width: $desktop-width) {
    .main-nav__logo-blue {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    .main-nav__logo-cloud {
      display: block;
    }

    img {
      width: 187px;
      height: 97px;
    }
  }
}


.main-nav__toggle {
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 2;
  display: block;
  width: 50px;
  height: 50px;
  background-color: inherit;
  cursor: pointer;
  border: none;

  &:active,
  &:hover {
    background-color: inherit;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed {
  background-color: var(--basic-white);

  .main-nav__toggle {
    &::before {
      content: "";
      width: 23px;
      height: 4px;
      background-color: var(--basic-blue);
      position: absolute;
      top: 13px;
      right: 20px;
      box-shadow: 0 9px 0 0 var(--basic-blue), 0 18px 0 0 var(--basic-blue);
    }

    &::before:hover {
      opacity: 0.6;
    }

    &::before:active {
      opacity: 0.3;
    }
  }
}

@media (max-width: $mobile-width) {
  .main-nav--closed .site-list {
    display: none;
    z-index: 0;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}

.main-nav--opened .main-nav__logo {
  display: none;
}

.main-nav--opened .site-list {
  background-color: var(--basic-blue);
}

.main-nav--opened .main-nav__toggle {
  &::before {
    content: "";
    background-image: url("../../img/icon-cross.svg");
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
    top: 13px;
    right: 20px;
    position: absolute;
    transform: rotate(45deg);
  }

  &::before:hover {
    opacity: 0.6;
  }

  &::before:active {
    opacity: 0.3;
  }
}


@media (max-width: $mobile-width) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list {
    display: block;
    background-color: var(--basic-blue);
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
  }

  .main-nav--nojs .main-nav__logo {
    display: block;
    top: 226px;
  }
}
