.page-footer {
  text-transform: uppercase;
}

.page-footer__list {
  margin: 0;
  padding: 29px 77px;
  padding-bottom: 23px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 36px 60px;
    display: flex;
    justify-content: space-between;
    height: 48px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__tag__text {
  position: relative;
  font-weight: 700;
  margin-bottom: 34px;
  bottom: 15%;
}

.social__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 166px;
  margin-bottom: 45px;
  align-items: center;
}

.social__list__item:hover .path1 {
  fill: var(--hover-blue);
}

.social__list__item:active {
  .path1 {
    fill: var(--active-blue);
  }

  .path2 {
    opacity: 0.3;
  }
}

.page-footer__item--made {
  position: relative;
  width: 166px;
  top: 20%;
}

.made__text--picture {
  width: 27px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.made__text:hover .path1 {
  fill: var(--basic-blue);
}

.made__text:active .path1 {
  opacity: 0.3;
}

.made__text {
  color: var(--basic-black);
  font-size: 14px;
  cursor: pointer;
}
