.page-footer {
  text-transform: uppercase;
}

.page-footer__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 663px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 976px;
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__tag__text {
  font-weight: 700;
}

.social__list {
  list-style: none;
}

.made__text {
  color: var(--basic-black);
}

