.page-footer {
  text-transform: uppercase;
}

.page-footer__list {
  margin: 0;
  padding: 29px 77px;
  padding-bottom: 23px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 60px 36px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__tag__text {
  font-weight: 700;
  margin-bottom: 34px;
}

.social__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 166px;
  margin-bottom: 45px;
}

.page-footer__item--made {
  position: relative;
  width: 166px;
}

.page-footer__item--made::after {
  content: "";
  width: 27px;
  height: 35px;
  background-image: url("../../img/htmlacademy.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
}

.made__text {
  color: var(--basic-black);
  font-size: 14px;
}
