.photos__header {
  text-transform: uppercase;
}

.photos__slogan {
  font-weight: 700;
  font-size: 30px;
}

.photos__item {
  line-height: 24px;
  font-size: 14px;
}

.photos__item__header {
  text-transform: uppercase;
  font-weight: 700;
}

.photos__item__autor {
  color: var(--basic-gray);
}

.photos__description {
  color: var(--basic-gray);
}
