.photos {
  @media (min-width: $tablet-width) {
    .wrapper {
      width: $tablet-width;
      margin: 0 auto;
    }
  }

  @media (min-width: $desktop-width) {
    .wrapper {
      width: $desktop-width;
      margin: 0 auto;
    }
  }
}

.photos__header {
  text-transform: uppercase;
}

.photos__slogan {
  font-weight: 700;
  font-size: 30px;
}

// .photos__list {

// }

.photos__list__item {
  line-height: 24px;
  font-size: 14px;
}

.photos__item__header {
  text-transform: uppercase;
  font-weight: 700;
}

.photos__item__autor {
  color: var(--basic-gray);
}

.photos__description {
  color: var(--basic-gray);
}

.photo__road img {
  width: 100%;
}
