.video {
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    .wrapper {
      margin: 0 auto;
    }
  }

  @media (min-width: $desktop-width) {
    .wrapper {
      margin: 0 auto;
      max-width: 960px;
    }
  }
}

.video__slogan {
  font-weight: 700;
  font-size: 30px;
}

.video__description {
  line-height: 24px;
  color: var(--basic-gray);
  font-size: 14px;
}
